@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F6F6F6;
  font-family: "Lato";
  overflow-y: scroll;
}

h1,h2,h3, span, p, div, input {
  font-family: "Lato";
}
p {
  font-weight: 600;
  color: #1AA8AE;
}

* {
  box-sizing: border-box;
}

.container {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  width: 100%;
  padding: 1rem;
  background: #F6F6F6;
  margin-bottom: .3rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.item {
  width: 33.3333%;
  padding: 1rem;
  background: #F6F6F6;
  margin-bottom: .3rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.bar {
  border-radius: 0;
}

.rc-progress-line-trail {
    stroke-linecap: square;
    stroke: #46313E;
}
.rc-progress-line-path {
  stroke-linecap: square;
  stroke: #AB2832;
}